.auth-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f5f5f5;
    margin-top: 20px;
}

.login-container {
    min-height: 75vh;
}

.signup-container {
    min-height: 80vh;
}

.form-auth {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-auth .checkbox {
    font-weight: 400;
}

.form-auth .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-auth .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signup input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signup input[type="email"] {
    margin-bottom: -1px;
    border-radius: 0;
}

.form-signup input[id="inputPassword"] {
    margin-bottom: -1px;
    border-radius: 0;
}

.form-signup input[id="inputRepeatPassword"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.validation-summary-errors ul {
    padding: 0;
    margin: 0;
}

.validation-summary-errors li {
    list-style-type: none;
}

.signup-in-login {
    display: block;
    margin-top: 1.8rem;
    color: #777;
}

.signup-in-login a {
    font-weight: 500;
    margin-left: 0.2rem;
    opacity: 0.8;
}

.form-signup .signup-in-login {
    margin-top: 1.2rem !important;
}