footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.ast-footer {
    display: flex;
    flex-direction: column-reverse;
}

.footer-info {
    margin: 5px auto 0 auto;
}

@media only screen and (min-width: 426px) {
    [class~="ast-footer"] {
        flex-direction: row;
    }

    [class~="footer-info"] {
        margin: 0;
    }
}