.ast-navbar {
    background-color: #15157D;
    flex-shrink: 0;
    padding: 1rem 1.5rem 1rem 1.5rem;
    transition: margin-bottom .5s;
}

.ast-navbar h4 {
    color: white;
    font-weight: 500;
    font-size: 1.6rem;
}

@media only screen and (min-width: 426px) {
    [class~="ast-navbar"] {
        padding: 0.5rem 3rem 0.5rem 3rem;
    }
}