@import url('https://fonts.googleapis.com/css?family=Open+Sans');

::-webkit-scrollbar-track {
	background: #2c2c2c;
	border: 0.25rem solid #222;
	border-radius: 10px;
}

::-webkit-scrollbar {
	width: 1.1rem;
	border: 0.25rem solid #222;
}

::-webkit-scrollbar-thumb {
	background: #404040;
	border: 0.25rem solid #222;
	border-radius: 10px;
}

div.loader {
	background: #444;
	display: flex;
	align-items: center;
	position: fixed;
	z-index: 2001;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: 0.5s ease-in-out;
}

div.loader.initial {
	transition: none;
}

div.spinner {
	width: 60px;
	height: 60px;
	position: relative;
	margin: 0 auto;
}

div.spinner-circle {
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.25;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	animation: bounce 1.5s infinite ease;
}

div.spinner-circle:first-of-type {
	animation-delay: -0.75s;
}

@keyframes bounce {
	0%,
	100% {
		transform: scale(0);
	}
	50% {
		transform: scale(1);
	}
}

/*
body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background: radial-gradient(ellipse farthest-corner at center top, #333 0%, #222 100%);
}
*/

.leaderboard {
	margin: 0 auto;
	background: linear-gradient(#555, #222);
	border-radius: 12px 0 0 12px;
	perspective: 400px;
	transform-style: preserve-3d;
	box-shadow: 0 7px 20px #242424;
}

.leaderboard h1 {
	margin: 0;
	text-align: center;
	background: linear-gradient(#393939, #373737);
	font-size: 1.5rem;
	color: #e1e1e1;
	padding: 1rem;
	border-radius: 10px 0 0 0;
}
.leaderboard h2 {
	padding: 0.4rem 1rem 0.8rem 1rem;
	text-align: start;
	font-size: 1.3rem;
	color: #bbb;
}
.leaderboard ol {
	padding: 0;
	margin: 0;
	counter-reset: leaderboard;
    transform-style: preserve-3d;
    list-style: none;
}
.leaderboard ol li {
	position: relative;
	font-size: 1.25rem;
	padding: 1rem 0.625rem 1rem 1.5rem;
	cursor: pointer;
	transform: translateZ(0) scale(1, 1);
	transition: box-shadow .2s ease-in-out;
	transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
	transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
	transform-style: preserve-3d;
	box-shadow: 0 0 0.5rem 1px rgba(0, 0, 0, 0.15);
}
.leaderboard ol li::before, .leaderboard ol li::after {
	opacity: 0;
	transition: 0.2s ease-in-out;
	content: '';
	position: absolute;
	z-index: 1;
	background: linear-gradient(#111, #444);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.leaderboard ol li::before {
	transform-origin: center left;
	transform: rotateY(90deg);
}
.leaderboard ol li::after {
	transform-origin: center right;
	transform: rotateY(-90deg);
}
.leaderboard ol li mark {
	counter-increment: leaderboard;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0.8rem 0 0.8rem 3.75rem;
	margin: 0;
	background: none;
	color: #fff;
	width: 3rem;
	height: 3rem;
}
.leaderboard ol li mark::before {
	content: counter(leaderboard);
	position: absolute;
	top: 0.8rem;
	left: 1.25rem;
	width: 1.25rem;
	height: 1.75rem;
	font-size: 0.875rem;
	line-height: 1.75rem;
	color: #ddd;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 1.25rem;
	text-align: center;
}
.leaderboard ol li:nth-child(1) mark::before {
	background: rgb(204, 170, 102);
	font-weight: bold;
	color: #fff;
}
.leaderboard ol li:nth-child(2) mark::before {
	background: rgba(255, 255, 255, 0.4);
	font-weight: bold;
	color: #fff;
}
.leaderboard ol li:nth-child(3) mark::before {
	background: rgb(117, 72, 45);
	font-weight: bold;
}
.leaderboard ol li small {
	position: relative;
	display: block;
	text-align: right;
	color: #ddd;
}

.leaderboard ol li:nth-child(1) {
	background: #606060;
}
.leaderboard ol li:nth-child(2) {
	background: #5b5b5b;
}
.leaderboard ol li:nth-child(3) {
	background: #565656;
}
.leaderboard ol li:nth-child(4) {
	background: #515151;
}
.leaderboard ol li:nth-child(5) {
	background: #4c4c4c;
}
.leaderboard ol li:nth-child(6) {
	background: #474747;
}
.leaderboard ol li:nth-child(7) {
	background: #424242;
}
.leaderboard ol li:nth-child(8) {
	background: #3d3d3d;
}
.leaderboard ol li:nth-child(9) {
	background: #383838;
}
.leaderboard ol li:nth-child(10) {
	background: #333;
}
.leaderboard ol li:last-child {
	border-radius: 0 0 0 10px;
}

.leaderboard ol li:last-child::before, .leaderboard ol li:last-child::after {
	border-radius: 0 0 0 10px;
}
.leaderboard ol li:hover {
	transform: translateZ(15px);
	transition: box-shadow .2s ease-in-out;
	transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
	transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
}
.leaderboard ol li:hover::before, .leaderboard ol li:hover::after {
	opacity: 1;
}
.leaderboard ol li:hover:nth-child(1) {
	box-shadow: 10px 0 -7px rgba(0, 0, 0, 0.1);
}
.leaderboard ol li:hover:nth-child(2) {
	box-shadow: 9px 0 -7px rgba(0, 0, 0, 0.1);
}
.leaderboard ol li:hover:nth-child(3) {
	box-shadow: 8px 0 -7px rgba(0, 0, 0, 0.1);
}
.leaderboard ol li:hover:nth-child(7) {
	box-shadow: 7px 0 -7px rgba(0, 0, 0, 0.1);
}
.leaderboard ol li:hover:nth-child(5) {
	box-shadow: 6px 0 -7px rgba(0, 0, 0, 0.1);
}
.leaderboard ol li:hover:nth-child(6) {
	box-shadow: -6px 0 -7px rgba(0, 0, 0, 0.1);
}
.leaderboard ol li:hover:nth-child(7) {
	box-shadow: -7px 0 -7px rgba(0, 0, 0, 0.1);
}
.leaderboard ol li:hover:nth-child(8) {
	box-shadow: -8px 0 -7px rgba(0, 0, 0, 0.1);
}
.leaderboard ol li:hover:nth-child(9) {
	box-shadow: -9px 0 -7px rgba(0, 0, 0, 0.1);
}
.leaderboard ol li:hover:nth-child(10) {
	box-shadow: -10px 0 -7px rgba(0, 0, 0, 0.1);
}
