.content {
    min-height: 100vh;
    position: relative;
    background-color: #f5f5f5;
}

@media only screen and (min-width: 426px) {
    .mobile-only {
        display: none;
    }
}

@media only screen and (max-width: 425px) {
    .not-mobile-only {
        display: none;
    }
}